@model IEnumerable<PackageDelivery.GUI.Models.Core.ShipmentModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.shippingDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idSender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idDestinationAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idPackage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idShipmentState)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idTransportType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.shippingDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idSender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idDestinationAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idPackage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idShipmentState)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idTransportType)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
