@model IEnumerable<PackageDelivery.GUI.Models.Parameters.TownModel>

@{
    ViewBag.Title = "Index";
}
<html>

<style>
    body, html {
        height: 100%;
        line-height: 1.8;
        background-size: cover;
        background-image: url("https://img.freepik.com/free-vector/paper-style-white-monochrome-background_52683-66443.jpg");
    }
</style>
<h2>Municipio</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdDepartment)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDepartment)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
</html>